* {
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  max-width: 1080px;
  width: 100%;
  padding: 15px; 
}

nav  p {
  font-size: 16px;
  margin: 0 0 0 50px; 
  color: black; 
}

a:visited{
  color: black; 
}

/*

---Styling the pages---

*/
.PageWrapper {
  margin: 0 auto; 
  padding: 25px;
  max-width: 1080px;
}

.PageWrapper h1 {
  margin-bottom: 30px;
}

/*

---Styling forms--- 

*/

.FormElement {
  display: flex; 
  flex-direction: column; 
  max-width: 450px; 

}

.FormElement input {
  margin-bottom: 30px; 
  padding: 10px; 
}

.FormElement label{
  font-weight: bold; 
  margin: 8px; 
}

.FormElement button {
  font-size: 16px; 
  padding: 10px; 
}